* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body {
	margin: 0;
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

button {
	font: inherit;
	border: 1px solid #05053a;
	color: white;
	background: #05053a;
	padding: 0.5rem 1.5rem;
	border-radius: 5px;
	cursor: pointer;
}

button:focus {
	outline: none;
}

button:hover,
button:active {
	background: #141470;
	border-color: #141470;
}

label,
input,
textarea {
	display: block;
	margin: 0.5rem 0;
}

input,
textarea {
	width: 100%;
	font: inherit;
	padding: 0.15rem 0.25rem;
	border: 1px solid #ccc;
	height: 3rem;
	resize: none;
	border-radius: 5px;
}

input:focus,
textarea:focus {
	outline: none;
	border-color: #000053;
}

textarea {
	width: calc(100% - 15rem);
}

section {
	width: 95%;
	margin: 2rem auto;
	padding: 1.5rem;
}

.form-control {
	margin: 0.5rem 0;
}

.form-control:has(textarea) {
	width: 100%;
}

form,
.inputs {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
}

.inputs {
	width: 75%;
	justify-content: flex-start;
}

.posts {
	list-style: none;
	margin: 0;
	padding: 0;
}

.post-item {
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #fff;
	border-radius: 5px;
}

.post-item h2,
.post-item p {
	margin: 0.5rem 0;
}

.post-item p {
	color: #8c8c8c;
}

.post-item h2 {
	font-size: 1.25rem;
	color: #414141;
}

.post-item button {
	border-color: #103c5c;
	background: #103c5c;
	margin-top: 1rem;
}

.post-item button:hover,
.post-item button:active {
	border-color: #174b70;
	background: #174b70;
}

.posts {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
	gap: 1rem;
}

::-webkit-scrollbar {
	height: 9px;
	width: 9px;
}

::-webkit-scrollbar-thumb {
	background: #d3d3d3;
	width: 9px;
}

::-webkit-scrollbar-track {
	background: transparent;
	width: 9px;
}

::-webkit-scrollbar-corner {
	background: transparent;
}
a {
	display: flex;
	width: fit-content;
	margin: 0.5rem;
}
